.stats-card {
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  justify-content: center;
  padding: calc(var(--spacing) * 4);
  width: 100%;

  .pi:first-child {
    font-size: var(--text-3xl);
  }

  span {
    text-align: center;
  }
}
