<p-table
  (onLazyLoad)="onLazyLoad($event)"
  [first]="filters().skip"
  [loading]="loading()"
  [rows]="pageSize"
  [totalRecords]="requestHttpListRes().total"
  [value]="requestHttpListRes().data"
  dataKey="requestId"
  lazy
  paginator
>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5" class="text-center">لم يتم العثور على أي طلب.</td>
    </tr>
  </ng-template>

  <ng-template #header>
    <tr>
      <th class="text-nowrap">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="hashtag"></svg>
        </div>
      </th>

      <th>
        <div class="flex gap-2 items-center">
          <svg data-p-icon="graduation-cap"></svg>
          الموظف(ة)
        </div>
      </th>

      <th>
        <div class="flex gap-2 items-center">
          <svg data-p-icon="building"></svg>
          القسم
        </div>
      </th>

      <th class="text-nowrap">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="check-circle"></svg>
          عدد الموافقات
        </div>
      </th>

      <th class="text-center">
        <div class="flex items-center justify-center">
          <svg data-p-icon="bolt"></svg>
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template #body let-request>
    <tr [ngClass]="{ 'bg-red-500/10': canApprove(request) || canReject(request) }">
      <td class="text-nowrap text-center">
        {{ request.requestId }}
      </td>

      <td class="text-nowrap">
        <div class="relative flex items-center">
          @if (canApprove(request) || canReject(request)) {
            <span class="ps-4">{{ request.employeeName }}</span>
            <span
              class="absolute inline-flex w-1.5 h-1.5 animate-ping rounded-full bg-red-600 opacity-75"
            ></span>
          } @else {
            <span>{{ request.employeeName }}</span>
          }
        </div>
      </td>

      <td class="text-nowrap">
        {{ request.departmentName }}
      </td>

      <td class="font-mono text-nowrap text-center">
        {{ approvedCount(request) }}
      </td>

      <td class="space-x-2 space-y-1 text-center">
        <button (click)="openViewDialog(request)" severity="secondary" size="small" pButton>
          <svg data-p-icon="eye"></svg>
          عرض
        </button>

        <button
          (click)="canApprove(request) && approve($event, request)"
          [disabled]="!canApprove(request)"
          severity="success"
          size="small"
          pButton
        >
          <svg data-p-icon="check-circle"></svg>
          موافقة
        </button>

        <button
          (click)="canReject(request) && reject(request)"
          [disabled]="!canReject(request)"
          severity="danger"
          size="small"
          pButton
        >
          <svg data-p-icon="times-circle"></svg>
          رفض
        </button>

        <button
          (click)="canArchive(request) && archive($event, request)"
          [disabled]="!canArchive(request)"
          severity="secondary"
          size="small"
          pButton
        >
          <svg data-p-icon="folder"></svg>
          أرشفة
        </button>

        <button
          pButton
          size="small"
          [disabled]="!canPrint(request)"
          (click)="canPrint(request) && navigateToPrint(request)"
        >
          <svg data-p-icon="print"></svg>
          طباعة
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
