<p-table
  (onLazyLoad)="onLazyLoad($event)"
  [first]="filters().skip"
  [loading]="loading()"
  [rows]="pageSize"
  [totalRecords]="requestHttpListRes().total"
  [value]="requestHttpListRes().data"
  dataKey="requestId"
  lazy
  paginator
>
  <ng-template #emptymessage>
    <tr>
      <td colspan="7" class="text-center">لم يتم العثور على أي طلب.</td>
    </tr>
  </ng-template>

  <ng-template #header>
    <tr>
      <th class="text-nowrap">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="hashtag"></svg>
        </div>
      </th>

      <th>
        <div class="flex gap-2 items-center">
          <svg data-p-icon="graduation-cap"></svg>
          الموظف(ة)
        </div>
      </th>

      <th>
        <div class="flex gap-2 items-center">
          <svg data-p-icon="building"></svg>
          الكلية
        </div>
      </th>

      <th class="text-nowrap">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="check-circle"></svg>
          عدد الموافقات
        </div>
      </th>

      <!-- <th class="text-nowrap">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="cog"></svg>
          بموجب رقم القرار
        </div>
      </th> -->

      <th class="text-center">
        <svg data-p-icon="bolt"></svg>
      </th>
    </tr>
  </ng-template>

  <ng-template #body let-request>
    <tr [ngClass]="{ 'bg-red-500/10': canApprove(request) || canReject(request) }">
      <td class="text-nowrap text-center">
        {{ request.requestId }}
      </td>

      <td class="text-nowrap">
        <div class="relative flex items-center">
          @if (canApprove(request) || canReject(request)) {
            <span class="ps-4">{{ request.staffName }}</span>
            <span
              class="absolute inline-flex w-1.5 h-1.5 animate-ping rounded-full bg-red-600 opacity-75"
            ></span>
          } @else {
            <span>{{ request.staffName }}</span>
          }
        </div>
      </td>

      <td class="text-nowrap">
        {{ request.collegeName }}
      </td>

      <td class="font-mono text-nowrap text-center">
        {{ countApprovals(request) }}
      </td>

      <!-- @if (request.decisionId) {
        <td class="text-nowrap">نعم ({{ request.decisionId }})</td>
      } @else {
        <td class="text-nowrap text-red-600">
          <div class="flex gap-1 items-center">
            <svg data-p-icon="exclamation-triangle"></svg>
            فردي
          </div>
        </td>
      } -->

      <td class="text-nowrap space-x-2">
        <button (click)="openViewDialog(request)" severity="secondary" size="small" pButton>
          <svg data-p-icon="eye"></svg>
          عرض
        </button>

        @if (canApprove(request)) {
          <button (click)="approve($event, request)" severity="success" size="small" pButton>
            <svg data-p-icon="check-circle"></svg>
            موافقة
          </button>
        }

        @if (canReject(request)) {
          <button pButton (click)="reject(request)" severity="danger" size="small">
            <svg data-p-icon="times-circle"></svg>
            رفض
          </button>
        }

        @if (canArchive(request)) {
          <button pButton (click)="archive($event, request)" severity="secondary" size="small">
            <svg data-p-icon="folder"></svg>
            أرشفة
          </button>
        }

        @if (canPrint(request)) {
          <a pButton [routerLink]="['/request/print', request.requestId]" size="small">
            <svg data-p-icon="print"></svg>
            طباعة
          </a>
        }
      </td>
    </tr>
  </ng-template>
</p-table>
