<ng-template #toolbarTpl>
  @if (isAdmin()) {}
</ng-template>

<p-table
  (onLazyLoad)="onLazyLoad($event)"
  [first]="filters().skip"
  [loading]="requestListResource.isLoading()"
  [rows]="pageSize"
  [totalRecords]="requestListResource.value().total"
  [value]="requestListResource.value().data"
  dataKey="requestId"
  lazy
  paginator
>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5" class="text-center">لم يتم العثور على أي طلب.</td>
    </tr>
  </ng-template>

  <ng-template #header>
    <tr>
      <th class="w-1">
        <div class="flex justify-center">
          <svg data-p-icon="hashtag"></svg>
        </div>
      </th>

      <th>
        <div class="flex gap-2 items-center">
          <svg data-p-icon="graduation-cap"></svg>
          الموظف(ة)
        </div>
      </th>

      <th>
        <div class="flex gap-2 items-center">
          <svg data-p-icon="building"></svg>
          القسم
        </div>
      </th>

      <th class="text-nowrap">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="check-circle"></svg>
          عدد الموافقات
        </div>
      </th>

      <th class="w-1">
        <svg data-p-icon="bolt"></svg>
      </th>
    </tr>
  </ng-template>

  <ng-template #body let-request>
    <tr [ngClass]="{ 'bg-red-500/10': canApproveOrReject(request) }">
      <td class="text-nowrap">
        {{ request.requestId }}
      </td>

      <td class="text-nowrap">
        <div class="relative flex items-center">
          @if (canApproveOrReject(request)) {
            <span class="ps-4">{{ request.employeeName }}</span>
            <span
              class="absolute inline-flex w-1.5 h-1.5 animate-ping rounded-full bg-red-600 opacity-75"
            ></span>
          } @else {
            <span>{{ request.employeeName }}</span>
          }
        </div>
      </td>

      <td class="text-nowrap">
        {{ request.departmentName }}
      </td>

      <td class="font-mono text-nowrap">
        {{ countApprovals(request) }}
      </td>

      <td>
        <div class="flex gap-2">
          <button (click)="openViewDialog(request)" severity="secondary" pButton>
            <svg data-p-icon="eye"></svg>
            عرض
          </button>

          @if (canTakeAction(request)) {
            <app-approve-button [request]="request" (onApprove)="onAction($event)" />
            <app-reject-button [request]="request" (onReject)="onAction($event)" />
            <app-archive-button [request]="request" (onArchive)="onAction($event)" />
            <app-print-button [request]="request" />
          }
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
