<app-dialog-container [title]="'الطلب #' + requestId()" (close)="close()">
  <ng-template #headerTpl>
    @if (loading()) {
      <p-message severity="info">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="exclamation-triangle"></svg>
          <span>جاري التحميل</span>
        </div>
      </p-message>
    } @else if (isCompleted(request()!)) {
      <p-message severity="success">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="check-circle"></svg>
          <span>تم اتخاذ جميع الاجراءات</span>
        </div>
      </p-message>
    } @else {
      <p-message severity="warn" []>
        <div class="flex gap-2 items-center">
          <svg data-p-icon="exclamation-triangle"></svg>
          <span>بانتظار استكمال الإجراءات </span>
        </div>
      </p-message>
    }
  </ng-template>

  <ng-template #contentTpl>
    @if (loading()) {
      <div class="flex justify-center p-4">
        <svg data-p-icon="spinner" [spin]="true" [size]="40"></svg>
      </div>
    } @else {
      <div class="flex flex-col gap-1">
        <span class="font-medium text-shadow-xs text-primary">تفاصيل الموظف(ة):</span>
        @if (staff()) {
          <div
            class="shadow-md border border-zinc-200 p-2 px-4 rounded-lg grid lg:grid-cols-3 gap-2 justify-between"
          >
            <div class="flex items-center gap-1">
              <svg data-p-icon="graduation-cap" class="text-primary-800"></svg>
              <span>الاسم:</span>
              <span class="font-medium">{{ staff()!.name }}</span>
            </div>
            <div class="flex items-center gap-1">
              <svg data-p-icon="tags" class="text-primary-800"></svg>
              <span>القسم:</span>
              <span class="font-medium">{{ staff()!.collegeAlias }}</span>
            </div>
            <div class="flex items-center gap-1">
              <svg data-p-icon="building" class="text-primary-800"></svg>
              <span>الكلية:</span>
              <span class="font-medium">{{ staff()!.collegeName }}</span>
            </div>
          </div>
        }
      </div>

      <div class="flex flex-col gap-1">
        <span class="font-medium text-primary text-shadow-xs">حالة التوقيعات:</span>
        <app-approval-list [approvals]="displayApprovals()" />
      </div>
    }
  </ng-template>

  @if (!loading() && (isPermittedToTakeAction(request()!) || canPrint(request()!))) {
    <ng-template #footerTpl>
      @if (canApprove(request()!)) {
        <button pButton type="button" (click)="approve($event)" severity="success">
          <svg data-p-icon="check-circle"></svg>
          موافقة
        </button>
      }

      @if (canReject(request()!)) {
        <button pButton type="button" (click)="reject()" severity="danger">
          <svg data-p-icon="times-circle"></svg>
          رفض
        </button>
      }

      @if (canArchive(request()!)) {
        <button pButton type="button" (click)="archive($event)" severity="secondary">
          <svg data-p-icon="folder"></svg>
          أرشفة
        </button>
      }

      @if (canPrint(request()!)) {
        <a
          pButton
          role="button"
          [routerLink]="['/request/print', request()!.requestId]"
          (click)="close()"
        >
          <svg data-p-icon="print"></svg>
          طباعة
        </a>
      }
    </ng-template>
  }
</app-dialog-container>
