<app-dialog-container [title]="'الطلب #' + request().requestId" (close)="close()">
  <ng-template #headerTpl>
    @if (isCompleted(request())) {
      <p-message severity="success">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="check-circle"></svg>
          <span>تم اتخاذ جميع الاجراءات</span>
        </div>
      </p-message>
    } @else {
      <p-message severity="warn">
        <div class="flex gap-2 items-center">
          <svg data-p-icon="exclamation-triangle"></svg>
          <span>بانتظار استكمال الإجراءات </span>
        </div>
      </p-message>
    }
  </ng-template>

  <ng-template #contentTpl>
    <div class="flex flex-col gap-1">
      <span class="font-medium text-shadow-xs text-primary">تفاصيل الموظف(ة):</span>
      <div
        class="shadow-md border border-zinc-200 p-2 px-4 rounded-lg grid lg:grid-cols-2 gap-2 justify-between"
      >
        <div class="flex items-center gap-1">
          <svg data-p-icon="graduation-cap" class="text-primary-800"></svg>
          <span>الاسم:</span>
          <span class="font-medium">{{ request().employeeName }}</span>
        </div>
        <div class="flex items-center gap-1">
          <svg data-p-icon="building" class="text-primary-800"></svg>
          <span>الكلية:</span>
          <span class="font-medium">{{ request().departmentName }}</span>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-1">
      <span class="font-medium text-primary text-shadow-xs">حالة التوقيعات:</span>
      <div class="flex flex-col gap-2">
        @for (approval of approvals(); track approval.requestApprovalId) {
          <div
            class="gap-2 shadow-md border border-zinc-200 py-2 px-4 rounded-lg grid lg:grid-cols-2"
            [ngClass]="{
              'bg-green-600/10': approval.status === RequestApprovalStatusEnum.APPROVED,
              'bg-red-600/10': approval.status === RequestApprovalStatusEnum.REJECTED,
            }"
          >
            <div class="flex gap-2 items-center">
              <svg data-p-icon="user" class="text-primary-800"></svg>
              <span>{{ approval.departmentName }}:</span>
              <span class="font-medium">{{ approval.staffName }}</span>
            </div>

            @if (approval.decidedAt) {
              <div class="flex gap-2 items-center">
                <svg data-p-icon="calendar" class="text-primary-800"></svg>
                <span>الوقت:</span>
                <span class="font-medium">
                  {{ approval.decidedAt.toLocaleDateString() }} -
                  {{ approval.decidedAt.toLocaleTimeString() }}
                </span>
              </div>
            }

            <div class="flex gap-2 items-center drop-shadow-md">
              <svg data-p-icon="caret-left" class="text-surface-200 drop-shadow-xs"></svg>
              <span>الحالة:</span>
              @if (approval.status === RequestApprovalStatusEnum.APPROVED) {
                <span class="font-medium">تمت الموافقة</span>
                <svg data-p-icon="check-circle" class="text-green-800"></svg>
              } @else if (approval.status === RequestApprovalStatusEnum.REJECTED) {
                <span class="font-medium">تم الرفض</span>
                <svg data-p-icon="times-circle" class="text-red-500"></svg>
              } @else {
                <span class="font-medium">بانتظار الإجراء</span>
                <svg data-p-icon="spinner" [spin]="true"></svg>
              }
            </div>

            @if (approval.note) {
              <div class="flex gap-2 items-center">
                <svg data-p-icon="note-sticky" class="text-primary-800"></svg>
                ملاحظات: {{ approval.note }}
              </div>
            }
          </div>
        } @empty {
          <span class="text-surface-500">لم يتم اتخاذ أي إجراء بعد</span>
        }
      </div>
    </div>
  </ng-template>

  @if (isPermittedToTakeAction(request()) || canPrint(request())) {
    <ng-template #footerTpl>
      @if (canApprove(request())) {
        <button pButton type="button" (click)="approve($event)" severity="success">
          <svg data-p-icon="check-circle"></svg>
          موافقة
        </button>
      }

      @if (canReject(request())) {
        <button pButton type="button" (click)="reject()" severity="danger">
          <svg data-p-icon="times-circle"></svg>
          رفض
        </button>
      }

      @if (canArchive(request())) {
        <button pButton type="button" (click)="archive($event)" severity="secondary">
          <svg data-p-icon="folder"></svg>
          أرشفة
        </button>
      }

      @if (canPrint(request())) {
        <button pButton type="button" (click)="navigateToPrint()">
          <svg data-p-icon="print"></svg>
          طباعة
        </button>
      }
    </ng-template>
  }
</app-dialog-container>
