<!-- <form class="contents" [formRoot]="rejectionForm">
  <app-dialog-container
    [title]="'هل أنت متأكد من رفض الطلب' + request().requestId + '؟'"
    (close)="close()"
  >
    <ng-template #content>
      <div class="flex flex-col gap-1">
        <label for="note">سبب الرفض <sup class="text-red-500">*</sup></label>
        <input
          id="note"
          pInputText
          type="text"
          [formField]="rejectionForm.note"
          placeholder="الرجاء ادخال سبب الرفض"
        />
      </div>
    </ng-template>

    <ng-template #footer>
      <button pButton type="submit" severity="danger" [disabled]="rejectionForm().invalid()">
        <svg data-p-icon="times-circle"></svg>
        رفض
      </button>
      <button pButton type="button" severity="secondary" (click)="close()">
        <svg data-p-icon="check-circle"></svg>
        إغلاق
      </button>
    </ng-template>
  </app-dialog-container>
</form> -->
